.AddNews div{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 0 1rem 0;
}

.AddNews div label,
.AddNews div input,
.AddNews div textarea{
    width: 80%;
    border-radius: 7px;
    border: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #477070;
}

.AddNews div textarea {
    height: 250px;
    background: rgba(0, 0, 0, 0.5)
}

.AddNews div input {
    text-align: center;
    background: rgba(0, 0, 0, 0.5)
    
}

.btn {
    border-radius: 7px;
    border: 0;
    padding: 0.5rem;
    cursor: pointer;
    background: #477070;
    font-size: 1.2rem;
}

@keyframes popOut{
    to{background-color: #6fb6b6;}
}

.btn:hover {
    animation-name: popOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}