@keyframes popOut{
    to{ left: 17.5%;}
}

.Modal {
    overflow: auto;
    width: 60%;
    height: fit-content;
    position: fixed;
    background: #001a1a;
    color: #477070;
    z-index: 3;
    left: -5%;
    font-size: 1.5rem;
    padding: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 7px;
    animation-name: popOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.Modal i{
    position: absolute;
    color: #477070;
    top: 2%;
    right: 1%;
    cursor: pointer;

}
