.Header {
    background: #001a1a;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

@media (max-width: 450px){
    .Header{
        height: 100px;
    }    
}
@media (max-width: 350px){
    .Header{
        height: 130px;
    }    
}